@import "reset";
@import "variables";

body {
  height: 100vh;
}

body * {
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
}

button {
  border: none;
}

header {
  border-bottom: 2px solid #C7C7C7;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 162px;

  div {
    position: relative;

    #shopping-cart-item-count {
      position: absolute;
      bottom: 0;
      left: 50%;
      background: $primaria;
      color: #ffffff;
      border-radius: 16px;
      font-size: 10px;
      width: 12px;
      text-align: center;
    }
  }
}

main {
  margin: 0 162px;

  #category-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 65px;

    h1 {
      font-size: 32px;
    }

    select {
      background: #ffffff;
      font-size: 16px;
      border: 1px solid $cinza1;
    }
  }

  #container {
    display: flex;
    gap: 175px;

    #products-list {
      text-align: center;
      width: 100%;
      max-width: 1000px;

      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 40px 64px;
        margin-bottom: 35px;

        li {
          flex: 1 0 21%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;

          .product-name {
            text-transform: uppercase;
            font-size: 14px;
          }

          img {
            width: 195px;
          }

          div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .product-price {
              font-weight: 700;
            }

            .product-installment {
              color: $cinza2;
            }
          }

          button {
            width: 100%;
            max-width: 195px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            background: $preto;
            color: #ffffff;
            height: 33px;
            padding: 0;
          }
        }
      }

      #load-products {
        margin: 35px 0;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        background: $primaria;
        color: #ffffff;
        width: 175px;
        height: 31px;
      }
    }
  }
}

#filter, #filter-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 160px;

  .filter-text {
    color: #333333;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }

  .color-filter, .price-filter, .size-filter {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .size-filter {
    gap: 24px;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      li {
        color: $cinza1;
        width: 32px;
        height: 32px;
        border: 1px solid $cinza1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

#filter {
  width: 100%;
}

#filter label, #filter-mobile #colors-mobile label {
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

#filter input[type="checkbox"], #filter-mobile input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0;

  &:checked {
    background: $primaria;
  }
}

footer {
  background: $preto;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-size: 14px;
  text-align: center;
  padding: 7px 0;
}

@media (max-width: 700px) {
  body {
    position: relative;

    .filter-container-mobile {
      position: fixed;
      z-index: 1;
      top: 0;
      width: 100%;
      height: 100%;
      background: #ffffff;
      overflow: scroll;

      .filter-title {
        padding: 16px;
        font-size: 28px;
        color: $cinza2;
        text-transform: uppercase;
        border-bottom: 2px solid #C7C7C7;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      #ordering-list {
        padding: 30px 16px 0;
        display: flex;
        flex-direction: column;
        gap: 30px;

        li {
          font-size: 22px;
        }
      }

      #filter-mobile {
        max-width: unset;
        padding: 30px 16px 0;

        .size-filter ul {
          max-width: 160px;
        }

        span.filter-text {
          font-size: 24px;
          color: $cinza2;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        #filter-button-container {
          margin: 7px 0 17px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 23px;

          button {
            text-transform: uppercase;
            font-size: 14px;
            padding: 7px 31px;
            width: 160px;

            &:first-child {
              background: $primaria;
              color: #ffffff;
            }

            &:last-child {
              background: #ffffff;
              color: $cinza2;
              border: 1px solid $cinza2;
            }
          }
        }
      }
    }
  }

  header {
    padding: 0 25px;
  }

  main {
    margin: 0;
    width: 100%;

    #category-info {
      flex-direction: column;
      justify-content: center;
      gap: 12px;
      margin: 24px 16px 35px;

      #button-container {
        display: flex;
        width: 100%;

        button {
          width: 100%;
          font-size: 24px;
          border: 1px solid $cinza2;
          background: #ffffff;
          color: $cinza2;
          padding: 7px 0;

          &:first-child {
            border-right: none;
          }
        }
      }

      select {
        display: none;
      }
    }

    #container {
      gap: 0;

      #filter {
        display: none;
      }

      #products-list {
        ul {
          gap: 18px 16px;
          margin-bottom: 0;

          li {
            img {
              width: 162px;
            }

            button {
              max-width: 162px;
            }
          }
        }

        #load-products {
          margin: 44px 0;
        }
      }
    }
  }
}
